﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="side-bar" dir="rtl">
    <div class="side-bar-from" style="padding-right:7%">
        <div><br /></div>

        <select id="Sales" style="width:78%">
            <option value="ForSale">للشراء</option>
            <option value="ForRent">للإيجار</option>
        </select>

        <div><br /></div>

        <select id="PropertType"style="width:78%">
            <option value="1">نوع العقار</option>
            <option value="2">شقة</option>
            <option value="3">فيلا</option>
            <option value="4">شاليه</option>
            <option value="5">قطعة أرض</option>
        </select>

        <div><br /></div>

        <select id="MinPrice" style="width:78%">
            <option value="1">السعر الأدنى</option>
            <option value="2">100.000 جنيه</option>
            <option value="3">200.000 جنيه</option>
            <option value="4">300.000 جنيه</option>
            <option value="5">400.000 جنيه</option>
        </select>

        <div><br /></div>

        <select id="MaxPrice"style="width:78%">
            <option value="1">السعر الأقصى</option>
            <option value="2">100.000 جنيه</option>
            <option value="3">200.000 جنيه</option>
            <option value="4">300.000 جنيه</option>
            <option value="5">400.000 جنيه</option>
        </select>

        <div><br /></div>

        <select id="MinSpace"style="width:78%">
            <option value="1">الحد الأدنى للمساحة</option>
            <option value="2">50 متر مربع</option>
            <option value="3">100 متر مربع</option>
            <option value="4">150 متر مربع</option>
            <option value="5">200 متر مربع</option>
        </select>

        <div><br /></div>

        <select id="MaxSpace"style="width:78%">
            <option value="1">الحد الأقصى للمساحة</option>
            <option value="2">50 متر مربع</option>
            <option value="3">100 متر مربع</option>
            <option value="4">150 متر مربع</option>
            <option value="5">200 متر مربع</option>
        </select>

        <div><br /></div>

        <select id="RoomsNumber"style="width:78%">
            <option value="1">عدد الغرف</option>
            <option value="2">1 غرفة نوم</option>
            <option value="3">2 غرفة نوم</option>
            <option value="4">3 غرفة نوم</option>
            <option value="5">4 غرفة نوم</option>
        </select>

        <input type="submit" value="بحث">
        <input type="reset" value="إلغاء">
    </div>
</div>
<div class="gallery" dir="rtl">
    <div class="grid">
        <img src="@Url.Content("~/Content/images/g1.png")" title="img1" />
        <ul>
            <li>
                <a href="#">فيلا</a>
                <p>نوع العقار : </p>
            </li>
            <li>
                <a href="#">القاهرة - ميدان الجيزة</a>
                <p>العنوان : </p>
            </li>
            <li>
                <a href="#">300 متر مربع</a>
                <p>مساحة الأرض : </p>
            </li>
            <li>
                <a href="#">2006</a>
                <p>سنة البناء : </p>
            </li>
        </ul>
        <div class="clear"> </div>
        <div class="price">
            <a href="#">تفاصيل</a>
            <h3>850.000 جنيه</h3>
            <div class="clear"> </div>
        </div>
    </div>
    <div style="margin:0px 25px;margin-top: 10px;" class="grid">
        <img src="@Url.Content("~/Content/images/g2.png")" title="img1" />
        <ul>
            <li>
                <a href="#">فيلا</a>
                <p>نوع العقار : </p>
            </li>
            <li>
                <a href="#">القاهرة - ميدان الجيزة</a>
                <p>العنوان : </p>
            </li>
            <li>
                <a href="#">300 متر مربع</a>
                <p>مساحة الأرض : </p>
            </li>
            <li>
                <a href="#">2006</a>
                <p>سنة البناء : </p>
            </li>
        </ul>
        <div class="clear"> </div>
        <div class="price">
            <a href="#">تفاصيل</a>
            <h3>850.000 جنيه</h3>
            <div class="clear"> </div>
        </div>
    </div>
    <div class="grid">
        <img src="@Url.Content("~/Content/images/g3.png")" title="img1" />
        <ul>
            <li>
                <a href="#">فيلا</a>
                <p>نوع العقار : </p>
            </li>
            <li>
                <a href="#">القاهرة - ميدان الجيزة</a>
                <p>العنوان : </p>
            </li>
            <li>
                <a href="#">300 متر مربع</a>
                <p>مساحة الأرض : </p>
            </li>
            <li>
                <a href="#">2006</a>
                <p>سنة البناء : </p>
            </li>
        </ul>
        <div class="clear"> </div>
        <div class="price">
            <a href="#">تفاصيل</a>
            <h3>850.000 جنيه</h3>
            <div class="clear"> </div>
        </div>
    </div>
    <div class="grid">
        <img src="@Url.Content("~/Content/images/g8.png")" title="img1" />
        <ul>
            <li>
                <a href="#">فيلا</a>
                <p>نوع العقار : </p>
            </li>
            <li>
                <a href="#">القاهرة - ميدان الجيزة</a>
                <p>العنوان : </p>
            </li>
            <li>
                <a href="#">300 متر مربع</a>
                <p>مساحة الأرض : </p>
            </li>
            <li>
                <a href="#">2006</a>
                <p>سنة البناء : </p>
            </li>
        </ul>
        <div class="clear"> </div>
        <div class="price">
            <a href="#">تفاصيل</a>
            <h3>850.000 جنيه</h3>
            <div class="clear"> </div>
        </div>
    </div>
    <div style="margin:0px 25px;margin-top: 10px;" class="grid">
        <img src="@Url.Content("~/Content/images/g5.png")" title="img1" />
        <ul>
            <li>
                <a href="#">فيلا</a>
                <p>نوع العقار : </p>
            </li>
            <li>
                <a href="#">القاهرة - ميدان الجيزة</a>
                <p>العنوان : </p>
            </li>
            <li>
                <a href="#">300 متر مربع</a>
                <p>مساحة الأرض : </p>
            </li>
            <li>
                <a href="#">2006</a>
                <p>سنة البناء : </p>
            </li>
        </ul>
        <div class="clear"> </div>
        <div class="price">
            <a href="#">تفاصيل</a>
            <h3>850.000 جنيه</h3>
            <div class="clear"> </div>
        </div>
    </div>
    <div class="grid">
        <img src="@Url.Content("~/Content/images/g6.png")" title="img1" />
        <ul>
            <li>
                <a href="#">فيلا</a>
                <p>نوع العقار : </p>
            </li>
            <li>
                <a href="#">القاهرة - ميدان الجيزة</a>
                <p>العنوان : </p>
            </li>
            <li>
                <a href="#">300 متر مربع</a>
                <p>مساحة الأرض : </p>
            </li>
            <li>
                <a href="#">2006</a>
                <p>سنة البناء : </p>
            </li>
        </ul>
        <div class="clear"> </div>
        <div class="price">
            <a href="#">تفاصيل</a>
            <h3>850.000 جنيه</h3>
            <div class="clear"> </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="all">
        <a href="#" style="font-size:15px">للمزيد</a>
    </div>
</div>

