﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div ng-app="PropertyCompany" ng-controller="OperatingExpenController" ng-init="initData(@ViewBag.ServerParams)" style="display:none">
    <div class="row">
        <div class="col-md-12">

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    دفـتر مصروفـات نـثريه
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <!--Tabs-->
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#_AddData" data-toggle="tab">دفتر المصروفات</a>
                                </li>
                            </ul>

                            <!--Tab Panes-->
                            <div class="tab-content">

                                <div class="tab-pane  active" id="ShowCarrier">
                                    <div>
                                        <button type="button" style="margin:2px; min-width:75px;float:right"
                                                class="btn btn-sm btn-primary" ng-click="addBookToShow()" ng-show="btnAddShowFlg==true">
                                            <i class="fa fa-plus">
                                            </i> إضافه بيانات جديدة
                                        </button>
                                    </div>
                                    <br />
                                    <h4>{{viewTitle}}</h4>
                                    <hr />
                                    @Html.Partial("Shared/_AddData")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/AngularApp/AngualrApp.js"></script>
<script src="~/AngularApp/Services/OperatingExpenServices.js"></script>
<script src="~/AngularApp/Controller/OperatingExpenController.js"></script>


